export(bag_whisker)

# S3 methods for plotting
S3method(plot, bagWhiskerPlot)

importFrom(grDevices, chull)
importFrom(graphics, boxplot, lines, points, segments, text)
importFrom(stats, mahalanobis, median, pchisq, pf, prcomp, qchisq, rnorm, sd)
importFrom(MASS, cov.mcd)
